  
<html>
    <head>
        <title>Login Page</title>
    </head>
    <body>
        <form method="post" class="container">
            {% csrf_token %}
            <h3>Login Here</h3>
            
            <label for="username">Username</label>
            <input type="text" id="username" name="username" placeholder="Username">
            <br><br>
            <label for="password1">Password</label>
            <input type="password" id="password1" name="password1" placeholder="Password">
            <br><br>
            <input type="checkbox" name="checkbox"> Remember me
            <a href="#">forget password</a>
            <br><br>
            <input type="submit" value="Login">
        </form>
        Not Registered? <a href="{% url 'signup' %}">create an account</a>
    </body>
</html>